@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,600&display=swap');

body {
  margin: 0px;
}

.container {
  width: 100%;
  background-color: #333;
  color: #333;
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  border-radius: 20px;
  width: 450px;
  padding: 40px 50px;
  position: relative;
  display: table;
  background-color: #fff;
}

.text {
  padding: 20px;
  opacity: 0;
  transition: opacity 500ms linear;
}

.text.change {
  opacity: 1;
  transition: opacity 1000ms linear;
}

.text span {
  font-size: 18px;
  padding: 10px;
}

.author {
  font-size: 16px;
  padding: 15px 0px;
  text-align: end;
}

.btn {
  padding: 8px 15px;
  position: absolute;
  bottom: 15px;
  right: 20px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.twit {
  padding: 8px 15px;
  position: absolute;
  bottom: 15px;
  left: 20px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
}

.twit:hover {
  opacity: 0.9;
}
