.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}
.header {
  margin: 20px 0;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto;
  width: 100%;
}
