.App {
  display: block;
  text-align: center;
  font: 1em sans-serif;
}

.btn {
  width: 100px;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 10px;
  border-radius: 5px;
}

.active {
  color: lightyellow;
  text-decoration: none;
}

a {
  color: white;
  font-size: 1.5rem;
  margin-left: 15px;
}

nav {
  margin-top: 15px;
}
nav a {
  margin: 15px;
}

h1 {
  font-size: 90px;
  margin-top: 15px;
}
